<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Specified character encoding for correct interpretation from browser when displaying text-->
    <meta charset="UTF-8">
    <!-- Ensure that webpage is displayed correctly on different devices, whether phone, tablet, or desktop -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Link css file to html page-->
    <link rel="stylesheet" type="text/css" href="homepagestyle.css">
</head>
<body>
    <div class ="navbar">
        <ul>Home</ul>
        <ul>Research</ul>
        <ul>News</ul>
        <ul>Teaching</ul>
        <ul>Students</ul>
    </div>
    <div class="headers">
        <img src="Project 4/prof_site/source/images/bjjvnkt2_cropped.jpg" alt="">
        <h1 class = "home"> Home</h1>
        <h1>  Shaileshh Bojja Venkatakrishnan</h1>
        <h1>  Dreese Lab 572 </h1>
        <h1><a href="https://www.osu.edu/">Department of Computer Science and Engineering The Ohio State University</a></h1>
        <h1>Email: <a href="https://outlook.office.com/mail/deeplink/compose?to=bojjavenkatakrishnan.2@osu.edu">bojjavenkatakrishnan.2@osu.edu</a></h1>
        <div class = "paragraphs">
            <p > I am an assistant professor in the computer science and engineering department at the Ohio State University. I am broadly interested in designing intelligent data-driven algorithms for current and emerging networking and distributed systems. In particular, I am interested in fundamental questions at the networking layer of blockchains and emerging large scale decentralized applications. I enjoy problems that warrant 'first-principles' thinking. Some of the other topics I have worked on in the past include scheduling algorithms for data center networks, peer-to-peer networks and information theory.  
            </p>
            <br>
            <p> Prior to my current position I was a postdoc in the networks and mobile systems group at MIT, where I worked on exciting problems in the intersection of network systems, algorithms and theory. I received my PhD from the University of Illinois Urbana-Champaign (UIUC) in 2017. I did my bachelor's degree at the Indian Institute of Technology Madras in 2012. During the summer of 2016 I interned at Google, where I worked on congestion control in Google's data center networks. I was a recipient of the Joan and Lalit Bahl fellowship at UIUC. </p>
            <p><b>Prospective Graduate Students: </b> I am looking for motivated students interested in networking systems and/or machine learning (particularly reinforcement learning). If you are interested, please send me an email.</p>
        <br>
        </div>
       
    <h1>Research</h1>
    <br>
    <h1><a href=https://scholar.google.com/citations?user=9wLpwbsAAAAJ&hl=en>Google Scholar</a></h1>
    
</html>
