
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Students</title>
        <link rel="stylesheet" href="site.css.sccs">
    </head>
    <body>
        <h1>Students</h1>
            <p> Those whom have assisted me with my research goals</p>
    
        <table>
            <tr>
                <th>Name</th>
                <th>Education Level</th>
            <tr>
                <td>Yifan Mao</td>
                <td> Ph.D </td>
            </tr>
            <tr>
                <td>Yunqi Zhang</td>
                <td>Ph.D</td>
            </tr>
            <tr>
                <td>Jingren Wei</td>
                <td>Ph.D</td>
            </tr>
            <tr>
                <td>Arti Vedula (co-advised with Prof. Abhishek Gupta)</td>
                <td>Ph.D</td>
            </tr>
            <tr>
                <td>Patrick Yang</td>
                <td>Masters</td>
            </tr>
            <tr>
                <td>Mel Gunawardena</td>
                <td>Undergrad</td>
            </tr>
        </table>
    </body>
</html>

