---
title: Home Page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaileshh B Venkatakrishnan</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Shaileshh<br>Bojja<br>Venkatakrishnan</h2>
            <nav>
                <ul>
                    <li><a href="home_page.html" class="active">Home</a></li>
                    <li><a href="research_page.html">Research</a></li>
                    <li><a href="news_page.html">News</a></li>
                    <li><a href="teaching.html">Teaching</a></li>
                    <li><a href="students_page.html">Students</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <h1>Home</h1>
            <div class="profile">
                <img src="images/cropped_prof_img.png" alt="Shaileshh Bojja Venkatakrishnan">
                <div class="info">
                    <h2>Shaileshh Bojja Venkatakrishnan</h2>
                    <p>Assistant Professor</p>
                    <p>Dreese Lab 572</p>
                    <p><a href="https://cse.osu.edu" target="_blank">Department of Computer Science and Engineering</a><p>
                        <p><a href="https://osu.edu" target="_blank">The Ohio State University</a><p>
                    <p>Email: <a href="mailto:bojjavenkatakrishnan.2@osu.edu">bojjavenkatakrishnan.2@osu.edu</a></p>
                </div>
            </div>
            <p>
                I am an assistant professor in the computer science and engineering department at The Ohio State University. I am broadly interested in designing intelligent data-driven algorithms for current and emerging networking and distributed systems. In particular, I am interested in fundamental questions at the networking layer of blockchains and emerging large scale decentralized applications. I enjoy problems that warrant 'first-principles' thinking. Some of the other topics I have worked on in the past include scheduling algorithms for data center networks, peer-to-peer networks and information theory.
            </p>
            <p>
                Prior to my current position, I was a postdoc in the networks and mobile systems group at MIT, where I worked on exciting problems in the intersection of network systems, algorithms and theory. I received my PhD from the University of Illinois Urbana-Champaign (UIUC) in 2017. I did my bachelor's degree at the Indian Institute of Technology Madras in 2012. During the summer of 2016, I interned at Google, where I worked on congestion control in Google's data center networks. I was a recipient of the Joan and Lalit Bahl fellowship at UIUC.
            </p>
            <p>
                <strong>Prospective Graduate Students:</strong> I am looking for motivated students interested in networking systems and/or machine learning (particularly reinforcement learning). If you are interested, please send me an email.
            </p>
            <p><strong><a href="research_page.html" target="_blank"> Research</a></strong></p>
            <p><strong><a href="https://scholar.google.com/citations?user=9wLpwbsAAAAJ&hl=en" target="_blank">Google Scholar</a></strong</p>
        </main> 
    </div>
</body>
</html>
