---
title: News Page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Shaileshh<br>Bojja<br>Venkatakrishnan</h2>
            <nav>
                <ul>
                    <li><a href="home_page.html">Home</a></li>
                    <li><a href="research_page.html">Research</a></li>
                    <li><a href="news_page.html" class="active">News</a></li>
                    <li><a href="teaching_page.html">Teaching</a></li>
                    <li><a href="students_page.html">Students</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <h1>News</h1>

            <h3>Service:</h3> <br>
            <p> Special issue editor: Emerging networks and blockchain technology <br>
            (<a href="https://www.mdpi.com/journal/mathematics/special_issues/KK83053602">https://www.mdpi.com/journal/mathematics/special_issues/KK83053602</a>). Please consider submitting your work.</p>
            <table class="news-table">
                <tr>
                    <th>Position</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>Sigmetrics '23</td>
                </tr>
                <tr>
                    <td>Organizer</td>
                    <td>Workshop on Blockchains and Networking, Sigmetrics '22</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>Sigmetrics '22</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>ICBC '22</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>ITC '34</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>Mobihoc '22</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>Sigmetrics '21</td>
                </tr>
                <tr>
                    <td>TPC member</td>
                    <td>Workshop on Decentralising the Internet with IPFS and Filecoin (DI2F) (part of <a href="https://networking.ifip.org/2021/" target="_blank">IFIP Networking '21</a>)</td>
                </tr>
            </table>

            <h2>Some articles on Dandelion</h2>
            <p>(papers <a href="https://dl.acm.org/doi/10.1145/3084459" target="_blank">here</a> and <a href="https://arxiv.org/pdf/1805.11060.pdf" target="_blank">here</a>): </p>
            <table class="news-table">
                <tr>
                    <th>Publication</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>BTCManager</td>
                    <td><a href="https://crypto.news/" target="_blank">BTCManager</a></td>
                </tr>
                <tr>
                    <td>CyberScoop</td>
                    <td><a href="https://cyberscoop.com/researchers-redesign-bitcoin-anonymity-u-s-law-enforcement-hires-specialists/" target="_blank">CyberScoop</a></td>
                </tr>
                <tr>
                    <td>Bitcoin</td>
                    <td><a href="https://news.bitcoin.com/dandelion-bitcoin-anonymize-transaction-broadcasts/" target="_blank">Bitcoin</a></td>
                </tr>
                <tr>
                    <td>Oodlestechnologies</td>
                    <td><a href="https://www.oodlestechnologies.com/blogs/Bitcoin-To-Get-More-Anonymous-With-The-New-BIP-Called-Dandelion/" target="_blank">Oodlestechnologies</a></td>
                </tr>
                <tr>
                    <td>InfoCoin</td>
                    <td><a href="https://www.infocoin.online/" target="_blank">InfoCoin</a></td>
                </tr>
                <tr>
                    <td>Wired</td>
                    <td><a href="https://www.wired.com/story/harry-pottery-cryptocurrency-privacy-zcash-monero/"target="_blank">Wired</a></td>
                </tr>
            </table>
            <br>
            <a href="https://crypto.news/" target="_blank"><img src="images/bitcoin.jpg" alt="Bitcoin" class="bitcoin-img" ></a>
        </main>
        
    </div>
</body>
</html>
