/* Style for the header */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f8f9fa; /* Light gray background */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for separation */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  /* Container for the signout button */
  .header-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add spacing between buttons */
    padding: 10px 20px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar-left{
    color: #c82333;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .navbar-right {
    display: flex;
  }

  /* Sign Out button styling */
  .btn-signout {
    font-size: 16px;
  padding: 20px;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-signout:hover {
    background-color: #c82333;
  }
  
  /* Roster button styling */
.btn-roster {
  font-size: 16px;
  padding: 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px; /* Add space between Roster and Sign Out buttons */
  cursor: pointer;
}

.btn-roster:hover {
  background-color: #0056b3;
}
  
/* Presentations button styling */
.btn-presentations {
  font-size: 16px;
  padding: 20px;
  color: white;
  background-color: #0ce917;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px; /* Add space between Roster and Sign Out buttons */
  cursor: pointer;
}

.btn-presentations:hover {
  background-color: #09a811;
}
