---
title: Teaching Page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Shaileshh<br>Bojja<br>Venkatakrishnan</h2>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="research_page.html">Research</a></li>
                    <li><a href="news_page.html">News</a></li>
                    <li><a href="teaching_page.html" class="active">Teaching</a></li>
                    <li><a href="students_page.html">Students</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <h1>Teaching</h1>
            <p><strong>Spring '23:</strong>
            <p><a href="https://syllabi.engineering.osu.edu/syllabi/cse_5469" target="_blank">CSE 5469: Introduction to blockchains and decentralized applications</a></p>
            <p><a href="https://syllabi.engineering.osu.edu/syllabi/cse_3461" target="_blank">CSE 3461: Computer Networking</a></p>
            <p><strong>Spring '22:</strong>
            <p><a href="https://syllabi.engineering.osu.edu/syllabi/cse_3461" target="_blank">CSE 3461: Computer Networking</a></p>
            <p><strong>Spring '21:</strong>
            <p><a href="https://syllabi.engineering.osu.edu/syllabi/cse_3461" target="_blank">CSE 3461: Computer Networking</a></p>
            <p><a href="https://syllabi.engineering.osu.edu/syllabi/cse_5469" target="_blank">CSE 5469: Data-driven Algorithms for Networking Systems</a></p>
        </main>
    </div>
</body>
</html>
